@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 21%;
    border: 3px solid white;
    border-radius: 50px;
    margin-left: -47%;
    margin: 2%;
    margin-left: -44%;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
}
.nav-list{
width: 70%;

display: flex;
align-items: center;

}
.nav-list li{
    list-style: none;
    padding: 26px 30px;

}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family:'Ubuntu',sans-serif;

}
.nav-list li a:hover{
    text-decoration: none;
    color: rgb(80, 59, 59);

}

.rightnav{

    width: 30%;
    text-align: right;
    padding:0 23px;
    margin:auto;
}
#search{
    width:61%;
    padding: 4px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}
.background{
    background:rgba(0, 0, 0, 0.7) url("../img/city.jpeg");
    background-size: cover;
    background-blend-mode: darken;
}
.firstSection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    max-width: 50%;
    height: 80%;

}
.firsthalf{
width: 80%;
display: flex;
flex-direction: column;
justify-content: center;
}
.secondhalf{
width: 30%;
}
.secondhalf img {
    width: 70px ;
    display: block;
    margin: auto;
    border: 4px solid;
    width: 165px;
    border-radius: 150px;
}
.text-big{
font-size: 41px;
}
.text-small{
font-size: 18px;
}
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border:2px solid gray;
    border-radius:8px;
    font-size: 15px;
    background: none;
    color: white;
    cursor: pointer;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
}
.btn-dark{
    color: black;
    border:2px solid black;

}
.section{
   
    display: flex;
    align-items: center;
    justify-content:center;
    max-width:80%;
    font-family: 'Ubuntu', sans-serif;
}
.section-left{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content:center;
    max-width:80%;
    flex-direction: row-reverse;
    margin-left: 10%;
}
.paras{
    padding:0 65px;
}
.thumbnail img {
    width: 250px;
    border: 2px solid black;
    border-radius: 20 px;
    margin-top: 19px;
    padding: 5%;
    border-radius: 50px;
    /* margin: 20%; */
    padding: 3%;
}
.sectionsubtag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact{
    background-color: rgb(225, 233, 178);
    height: 90vh;
    text-align: center;
}
.form-input{
margin: 13px;
width: 102%;
border: 2px solid gray;
border-radius: 6px;
font-size: 18px;
}
.form{

    margin: 12px auto;
    max-width: 62%;
}
.texttrans{
    text-align: center;
    padding:30px;
    font-family: Arial, Helvetica, sans-serif;
}
.area{
    align-items: center;
    width: 111%;
}
.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family:'Ubuntu',sans-serif;
    display:flex;
    justify-content:center;
    color: white;


}
.img-fluid{
    margin: 30%;
}
.burger{
    display:none;
 position:absolute;
 cursor:pointer;
 right:5%;
 top:15px;
}
.line{
    width:33px;
    background-color:white;
    height:4px;
    margin:5px 3px;
}
@media only screen and (max-width:1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out ;
        height: 478px;
    }
    
    .rightnav{
        text-align:center;
    }
    #search{
        width:100%;
    }
    .burger{
        display: block;
    }
    
    .h-nav-resp{
        height:72px;
    }
    .v-class-resp{
        opacity:0;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%l;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-big{
        text-align: center;
    }
    .text-small{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
        
}


    
